
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 60px;
    font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*----------------Header---------------*/
header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #0B151E;
    z-index: 100;

}
.cabecalho{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------Header-Botões--------*/ 

#btnVoltarAoTopo{
    cursor: pointer;
    color: white;
}
#btnsHeader{
    color: rgb(210, 210, 210);
    display: flex;
    justify-content: right;
    gap: 38px;
    height: 100%;
    align-items: center;
}
.btnsHeader{
    font-weight: 500;
    cursor: pointer;
}

#SolicitarProposta {
    color: white;
    background-color: #018AB0;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
}

/*---------------Hero---------------*/


.hero {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 30, 60, 0.836), rgba(0, 30, 60, 0.589)), url('../IMG/imagem1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;              
    align-items: flex-start;
}

.container {
    max-width: 1200px;
    margin:  auto;
    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start
}

/*---------------Hero-div-content---------------*/ 

.heroContent {
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#hero-SubTitulo{
    color: #00c8ff;
    background-color: #005e79;
    padding: 3px 10px;
    margin: 0;
    width: 290px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    font-size: 15px;
    border:1px solid #00c8ff;
    backdrop-filter: blur(10px);
}
.heroContent h1 {
    font-size: 68px;

}
.heroContent span{
    font-size: 20px;
}
#HeroTitulo{
    color: #009cc7;
    font-size: 68px;
}

/*--------Hero-Botões--------*/ 

.BtnHero{
    display:flex;
    gap: 15px;
}

.BtnHero-Proposta {
    color: white;
    background-color: #018AB0;
    border: none;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 190px;
    font-weight: 700;
}

.BtnHero-Servico {
    color: white;
    background-color:transparent;
    border:1.5px solid rgb(210, 210, 210);;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 190px;
    font-weight: 700;
}

/*---------------Hero-div-info---------------*/ 

.heroInfo{
    display: flex;
    justify-content: space-between;
    
    
}
.heroInfo span{
    padding: 25px;
    width: 30%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

/*---------------Quem-Somos---------------*/


.QuemSomos{
    padding: 100px 0px;
}

.QuemSomos-container{
    display: flex;
    max-width: 1200px;
    gap: 70px;
    margin: auto;
    padding: 0 80px;
}

/*---------------Quem-Somos-div-imagem---------------*/

.QuemSomos-imagem{
    position: relative;
    display: flex;
    flex-direction: column;
}

.QuemSomos-imagem img {
    width: 100%;
    max-width: 550px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}
.QuemSomos-imagem-texto{
    margin-top: -40px;
    margin-left: auto;
    margin-right: -40px;  
    color: white;
    background-color: #005e79;
    padding: 20px 10px;
    width: 160px;
    border-radius: 12px;
    font-size: 15px;
    display: grid;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.555);

}





/*---------------Quem-Somos-div-texto---------------*/

.QuemSomos-texto{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 600;
    align-items: flex-start;

}
.QuemSomos-texto-titulo{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#QuemSomos-texto-subtitulo{
    color:#018AB0;
    font-weight: 600;
    font-size: 16px;

}
#QuemSomos-titulo-titulo{
    font-size: 40px;
    color: #0B151E;
}
/*--------Quem-Somos-descricão--------*/ 
#QuemSomos-texto-desc{
    color: rgb(81, 90, 95);
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
}
/*--------Quem-Somos-infos--------*/ 

.QuemSomos-texto-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #0B151E;
    font-weight: 500;
    font-size: 15px;

}
.QuemSomos-info-imagem{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

/*-----------------------Titulos-gerais-----------------------*/
.titulo-geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.subtitulo{
    color:#018AB0;
    font-weight: 600;
    font-size: 16px;
}
.titulo{
    font-size: 35px;
    color: #0B151E;
}
.descricao{
    color: rgb(81, 90, 95);
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
    max-width: 600px;
    text-align: center;
}
/*-----------------------Mapa-----------------------*/
.mapa{
    padding: 100px 0;
}

.mapa-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 80px;
}

/*-----------------------servicos-----------------------*/

.servicos{
    padding: 100px 0px;

    
}

.servicos-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 1200px;
    margin: auto;
    padding: 0 80px;
}

/*-----------------------servicos-card-----------------------*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0;
    width: 100%;

}
.card{
    width: 100%;
    min-width: 0;
}
.card-container{
    width: 100%;
    padding: 10px; /* margem interna dos cards*/
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.356);
    background-color: white;
    display: flex;
    flex-direction: column;     
    gap: 100px;
}
.card-titulo{
    font-size: 20px;
    color: #0B151E;
}
.card-desc{
    font-size: 15px;
    color: rgb(81, 90, 95);

}
.card-btn{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;    
}
.card-btn-proposta{
    color:#018AB0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card-btn-saiba{
    color:#018AB0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/*-----------------------Footer-----------------------*/

footer{
    background-color: #0C141D;
    bottom: 0;
    width: 100%;
    height: 60px;
}