
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 60px;
    font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*----------------Header---------------*/
header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #0B151E;
    z-index: 100;

}
.cabecalho{
    max-width: 1350px;
    margin: auto;
    height: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------Header-Botões--------*/ 

#btnVoltarAoTopo{
    cursor: pointer;
    color: white;
}
#btnsHeader{
    color: rgb(210, 210, 210);
    display: flex;
    justify-content: right;
    gap: 30px;
    height: 100%;
    font-size: 15px;
    align-items: center;
}
.btnsHeader{
    font-weight: 600;
    cursor: pointer;
}
.btnsHeader:hover{
    color: #018AB0;
}

#SolicitarProposta {
    color: white;
    background-color: #018AB0;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
    
}

/*---------------Hero---------------*/


.hero {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 30, 60, 0.836), rgba(0, 30, 60, 0.589)), url('../IMG/imagem1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;              
    align-items: flex-start;
}

.container {
    max-width: 1350px;
    margin:  auto;
    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start
}

/*---------------Hero-div-content---------------*/ 

.heroContent {
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#hero-SubTitulo{
    color: #00c8ff;
    background-color: #005e79;
    padding: 3px 10px;
    margin: 0;
    width: 290px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    font-size: 15px;
    border:1px solid #00c8ff;
    backdrop-filter: blur(10px);
    font-weight: 600;
}
.heroContent h1 {
    font-size: 68px;

}
.heroContent span{
    font-size: 20px;
}
#HeroTitulo{
    color: #009cc7;
    font-size: 68px;
}

/*--------Hero-Botões--------*/ 

.BtnHero{
    display:flex;
    gap: 15px;
}

.BtnHero-Proposta {
    color: white;
    background-color: #018AB0;
    border: none;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 190px;
    font-weight: 700;
    transition: transform 0.5s ease;

}
.BtnHero-Proposta:hover {

    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.753)
}

.BtnHero-Servico {
    color: white;
    background-color:transparent;
    border:1.5px solid rgb(210, 210, 210);;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 190px;
    font-weight: 700;
}
.BtnHero-Servico:hover {
    background-color: rgba(255, 255, 255, 0.212);}
/*---------------Hero-div-info---------------*/ 

.heroInfo{
    display: flex;
    justify-content: space-between;
}
.heroinfo-geral{
    display: flex;
    justify-content: left;
    padding: 20px;
    width: 30%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08); 
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(255, 255, 255, 0.253);
    gap: 15px;
}
/*--------Hero-Info-Imagem--------*/ 
.heroinfo-imagem img{
    display: flex;
    justify-content: center;
    max-width: 50px;
    background-color: #018ab05d;
    padding: 10px;
    border-radius: 10px;
}
/*--------Hero-Info-Texto--------*/ 
.heroinfo-texto h1{
    font-size: 25px;
}
.heroinfo-texto p{
    font-size: 15px;
    color: rgb(210, 210, 210);
}

/*---------------Clientes---------------*/


.clientes{
    padding: 100px 0px;
}

/*---------------Carousel---------------*/


/*---------------Quem-Somos---------------*/


.QuemSomos{
    padding: 100px 0px;
}

.QuemSomos-container{
    display: flex;
    max-width: 1350px;
    gap: 70px;
    margin: auto;
    padding: 0 80px;
}

/*---------------Quem-Somos-div-imagem---------------*/

.QuemSomos-imagem{
    position: relative;
    display: flex;
    flex-direction: column;
}

.QuemSomos-imagem img {
    width: 100%;
    max-width: 550px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}
.QuemSomos-imagem-texto{
    margin-top: -40px;
    margin-left: auto;
    margin-right: -40px;  
    color: white;
    background-color: #005e79;
    padding: 20px 10px;
    width: 160px;
    border-radius: 12px;
    font-size: 15px;
    display: grid;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.555);

}


/*---------------Quem-Somos-div-texto---------------*/

.QuemSomos-texto{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 600;
    align-items: flex-start;

}
.QuemSomos-texto-titulo{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#QuemSomos-texto-subtitulo{
    color:#018AB0;
    font-weight: 600;
    font-size: 16px;

}
#QuemSomos-titulo-titulo{
    font-size: 40px;
    color: #0B151E;
}
/*--------Quem-Somos-descricão--------*/ 
#QuemSomos-texto-desc{
    color: rgb(81, 90, 95);
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
}
/*--------Quem-Somos-infos--------*/ 

.QuemSomos-texto-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #0B151E;
    font-weight: 500;
    font-size: 15px;

}
.QuemSomos-info-imagem{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

/*-----------------------Titulos-gerais-----------------------*/
.titulo-geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.subtitulo{
    color:#018AB0;
    font-weight: 600;
    font-size: 16px;
}
.titulo{
    font-size: 35px;
    color: #0B151E;
    max-width: 550px;
    text-align: center;
}
.descricao{
    color: rgb(81, 90, 95);
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
    max-width: 650px;
    text-align: center;
}
/*-----------------------Mapa-----------------------*/
.mapa{
    padding: 100px 0;
}

.mapa-container{
    max-width: 1350px;
    margin: auto;
    padding: 0 80px;
}

/*-----------------------servicos-----------------------*/

.servicos{
    padding: 100px 0px;

    
}

.servicos-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 1350px;
    margin: auto;
    padding: 0 80px;
}

/*-----------------------servicos-card-----------------------*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1350px;
    margin: 0;
    width: 100%;

}
.card{
    width: 100%;
    min-width: 0;
    transition: transform 0.5s ease;
    
}
.card-container{
    width: 100%;
    height: 100%;
    padding: 30px 35px; /* margem interna dos cards*/
    border-radius: 10px 8px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.370);
    background-color: white;
    display: flex;
    flex-direction: column;     
    gap: 20px;
    
}
.card:hover {
    transform: translateY(-5px);
    border-radius: 10px 8px;
}
.card:hover .card-container{
    border-color: #00c8ff;
}
/*--------Card-Imagem--------*/ 

.card-imagem{
    max-width: 55px;
    background-color: rgba(209, 208, 208, 0.411);
    padding: 8px;
    border-radius: 10px;
}

/*--------Card-Texto--------*/ 

.card-titulo{
    font-size: 18px;
    color: #0B151E;
}
.card-desc{
    font-size: 15px;
    color: rgb(81, 90, 95);

}

/*--------Card-Botão--------*/ 

.card-btn{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;    
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 0;
}

.card-btn-proposta{
    color:#018AB0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
        padding: 8px;

}
.card-btn-proposta:hover {
    border:1px solid #00c8ff;
    background-color: #018AB0;
    border-radius: 5px;
    padding: 7px;
    color: white;
}
.card-btn-saiba{
    color:#018AB0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 8px;

}
.card-btn-saiba:hover {
    padding: 7px;
    border:1px solid #00c8ff;
    background-color: #018AB0;
    border-radius: 5px;
    color: white;
}

/*-----------------------Portifólio-----------------------*/

.portifolio{
    padding: 100px 0px;
    gap: 70px;
}
.portifolio-container{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.portifolio-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:25px;
    max-width: 1350px;
    width: 100%;
    margin: 40px auto;     
    padding: 0 80px; 
    
}
/*--------Portifólio-Imagem--------*/ 

.portifolio-imagem{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid transparent;

}

.portifolio-imagem img{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    transition: transform 0.4s ease;

}
/*--------Portifólio-Overlay--------*/ 

.overlay-texto{
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.overlay-titulo{
    font-size: 20px;
    color: white;
}
.overlay-subtitulo{
    color: #00c8ff;
    background-color: #005e79;
    padding: 3px 10px;
    margin: 0;


    align-self: flex-start;
    border-radius: 12px;
    font-size: 13px;
    border:1px solid #00c8ff;
}
/*--------Portifólio-hover--------*/ 

.portifolio-imagem::after{
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
    );

    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1;
}

.portifolio-imagem:hover::after{
    opacity: 1;
}
.portifolio-imagem:hover img{
    transform: scale(1.08);
}
.portifolio-imagem:hover .overlay-texto{
    opacity: 1;
    transform: translateY(0);
}

/*--------Portifólio-Enviar--------*/ 

.portifolio-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: -50px auto 40px;      
    background-color: #018AB0;
    padding: 15px 12px;
    border-radius: 10px 8px;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.portifolio-enviar-img{
    display: flex;
    justify-content: center;
    max-width: 25px;
    border-radius: 10px;
}
.portifolio-enviar-texto{
    color: white;
    font-weight: 600;
}

.portifolio-enviar:hover{
    transform: translateY(-3px);
}
/*-----------------------Proposta-----------------------*/

.proposta{
    padding: 0px 0px 100px;
    gap: 70px;
}
.proposta-container{
    max-width: 1350px;
    margin:  auto;
    padding: 30px 80px;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

.proposta-texto{
    
    background: linear-gradient(
        to right,
        #005269d8,
        #003341
    );
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    padding: 75px;
    gap: 15px;
}
.proposta-titulo{
    color: white;
    font-size: 35px;
    text-align: center;
}


.proposta-desc{
    color:#9e9e9e;
    font-weight: 600;
    font-size: 17px;
    max-width: 55%;
    text-align: center;

}
/*-----------------------Footer-----------------------*/

footer{
    background-color: #0C141D;
    bottom: 0;
    width: 100%;
    height: 60px;
}